.container {
	max-width: 1400px;
	@include breakpoint($bp-wide) {
		padding: 0 $gutter/2;
		margin: 0 auto;
	}
}

[class*='col-'] {
	padding: 0 $gutter/2;
	float: left;
	box-sizing: border-box;
}

.col-full {
	width: 100%;
}
.col-half {
	width: 50%;
}
.col-61 {
	width: 61.80339844527371%;	
}
.col-38 {
	width: 38.19660059385261%;	
}
.col-23 {
	width: 23.60679725756851%;
}
.col-14 {
	width: 14.58980296926301%;
}
.col-9 {
	width: 9.016994061473994%;
}
.col-5 {
	width: 5.572808767599441%;
}
.col-3 {
	width: 3.44418520723263%;
}
.col-2 {
	width: 2.128623506819158%;
}
.col-1 {
	width: 1.315561667319202%;
}



