h1, h2, h3, h4, h5, h6 {
	@include copy-hed;
}

p {
	@include copy;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

h1 {
	font-size: $size-h1;
}
h2 {
	font-size: $size-h2;
}
h3 {
	font-size: $size-h3;
}
h4 {
	font-size: $size-h4;
}
h5 {
	font-size: $size-h5;
}
h6 {
	font-size: $size-h6;
}



/* -- utilities -- */

.caps {
	@include copy-caps;
}

.copy {
	@include copy;
}

.hed {
	@include copy-hed;
}